.Notification {
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: white;
  }

  .error {
    background-color: #d9534f; /* Red for error */
  }
  .success {
    background-color: #5cb85c;
  }
  .pending {
    background-color: #3d806b;
  }
  